<nav class="bg-white hover:bg-greenLight-hover">
  <div class="flex flex-wrap justify-between items-center py-6 px-8 mx-auto">
    <!-- Website Logo -->
    <div class="mx-2">
      <a routerLink="/home" class="flex mr-auto items-center">
          <img [src]="logo"class="h-8 mr-3" alt="Travelling Exam Logo"/>
          <span class="self-center font-TitilliumWeb text-4xl not-italic font-semibold whitespace-nowrap leading-10 tracking-tight">
            {{title}}
          </span>
      </a>
      </div>
      <!-- Primary Navbar items -->
      <div class="hidden md:flex ml-auto">
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="/home">
          Home
        </div>
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="/service">
          Our services
        </div>
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="/career">
          Career
        </div>
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="/about">
          About us
        </div>
      <button type="button" (click)="getintouchbutton()" class="bg-greenLight decoration-greenLight decoration-4-hover hover:hover:bg-greenLightDark rounded-md px-4 py-2">
          Get in touch
      </button>
    </div>
    <!-- Mobile button -->
    <div class="md:hidden flex items-center">
        <button (click)="tooglemenu()">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 cursor-pointer">
            <path *ngIf="!isMenuOpen" stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            <path *ngIf="isMenuOpen" stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>            
        </button>    
    </div>
    <!-- Mobile menu -->
    <div *ngIf="isMenuOpen" class="w-full flex flex-col items-center">
        <a class="block py-2 px-4 text-sm font-normal hover:underline decoration-greenLight decoration-4 " routerLink="/home">Home</a>
        <a class="block py-2 px-4 text-sm font-normal hover:underline decoration-greenLight decoration-4" routerLink="/service">Our services</a>
        <a class="block py-2 px-4 text-sm font-normal hover:underline decoration-greenLight decoration-4" routerLink="/career" >Career</a>
        <a class="block py-2 px-4 text-sm font-normal hover:underline decoration-greenLight decoration-4" routerLink="/about">About us</a>
        <a class="block py-2 px-4 text-sm font-normal bg-greenLight rounded-md hover:bg-greenLightDark" routerLink="/getintouch">Get in touch</a>
    </div>
  </div>
</nav>