<nav class="container flex items-center w-full mx-auto py-4 px-12 bg-white text-center">
    <!-- Logo and title  -->
    <div class="mr-4">
      <a routerLink="" class="flex mr-auto items-center">
          <img [src]="logo" class="h-8 mr-3 sm:h-9" alt="Travelling Exam Logo"/>
          <span class="self-center font-TitilliumWeb text-4xl not-italic font-semibold whitespace-nowrap leading-10">
            {{title}}
          </span>
      </a>
      </div>
      <!-- Menu -->
      <div class="flex items-center justify-between ml-auto">
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="">
          Home
        </div>
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="/service">
          Our services
        </div>
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="/career">
          Career
        </div>
        <div class="p-2 cursor-pointer hover:underline decoration-greenLight decoration-4" routerLink="/about">
          About us
        </div>
      <button type="button" (click)="onclick()" class="bg-greenLight hover:bg-greenLight-hover rounded-md px-4 py-2">
          Get in touch
      </button>
    </div>
</nav>
