<div class="px-10 grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-5">

        <div class="py-3 px-3">
        <img [src]="image_num1" alt="image_num1" (mouseover)="newImage()" (mouseleave)="oldImage()" class="rounded-2xl mx-auto">
        <div class="px-6 py-4">
        <div class="font-bold text-xl text-center mb-2">Travel experience #1</div>
        <p class="text-gray-700 text-base"> 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Mattis aliquam faucibus purus in massa tempor. Feugiat vivamus at augue eget arcu dictum varius. Massa massa ultricies mi quis hendrerit dolor. 
        </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-greenLight hover:bg-greenLight-hover rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#experience</span>
            <span class="inline-block bg-greenLight hover:bg-greenLight-hover rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#traveling</span>
            <span class="inline-block bg-greenLight hover:bg-greenLight-hover rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        </div>
        </div>
        
        <div class="px-3 py-3">
        <img [src]="image_num2" alt="image_num2" (mouseover)="newImage1()" (mouseout)="oldImage1()" class="rounded-2xl mx-auto">
        <div class="px-6 py-4">
        <div class="font-bold text-xl text-center mb-2">Travel experience #2</div>
        <p class="text-gray-700 text-base">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Non diam phasellus vestibulum lorem sed risus ultricies tristique nulla. Mattis aliquam faucibus purus in massa tempor. Feugiat vivamus at augue eget arcu dictum varius. Massa massa ultricies mi quis hendrerit dolor. 
        </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-greenLight hover:bg-greenLight-hover rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#experience</span>
            <span class="inline-block bg-greenLight hover:bg-greenLight-hover rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#traveling</span>
            <span class="inline-block bg-greenLight hover:bg-greenLight-hover rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
        </div>
        </div>

</div>

