<div class="backgroundColor w-full h-[497px] px-11 py-11 mx-auto">
    <div class="flex justify-center h-[410px] py-11 px-11">
    <div class="flex flex-col h-[326px] gap-3">
        <span class="font-semibold not-italic text-5xl leading-10 font-Karma">
            You want to travel with us
        </span>
        <p class="font-Karma not-italic font-normal text-base text-ellipsis overflow-hidden">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vel vehicula odio. Etiam venenatis ac enim ac fermentum. Pellentesque lectus est, finibus id accumsan sed, vulputate sit amet nunc. Quisque porttitor leo enim. Sed lorem massa, hendrerit eget mi in, faucibus hendrerit mi. 
        </p>
    </div>
    <div class="shrink-0 grow-0 basis-3/4 pl-5">
        <img [src]="imagePlane" alt="image plane">
    </div>
    </div>
</div>
