<div class="backgroundColor w-full h-[497px] px-11 py-11 mx-auto">
    <div class="flex justify-center h-[410px] py-11 px-11">
    <div class="flex flex-col h-[326px] gap-3" *ngIf="header$|async as header">
        <span class="font-semibold not-italic text-5xl leading-10 font-Karma" *ngFor="let head of header">
            {{head.titulo}}>
        
        </span>
        <p class="font-Karma not-italic font-normal text-base text-ellipsis overflow-hidden">
            {{text}}
        </p>
    </div>
    <div class="shrink-0 grow-0 basis-3/4 pl-5">
        <img [src]="imagePlane" alt="image plane">
    </div>
    </div>
</div>
