<div class="w-full bg-greeLighter h-80 py-10 px-10">
    <div class="flex h-60 py-5 px-5">

    <div class="flex flex-col items-center basis-2/4">
        <img [src]="teamWorkImage" alt="Team work image" class="rounded-lg shadow-2xl">    
    </div>
    <div class="flex flex-col justify-center gap-4"> 
            <div class="">
            <h2 class="font-Karma font-bold text-4xl">Are you interested in working us?</h2>
            </div>
            <div class="">
            <button type="button" (click)="onclick()" class="flex items-center justify-center bg-greenLightDark hover:bg-green-hover rounded-md text-white px-10 py-2">
                <span height="24" class="flex items-center font-Karma font-bold text-center text-black leading-5 pr-2">
                    Get in touch
                </span>
                <svg height="13" xmlns= "http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path class="" stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                </svg> 
            </button>
            </div>
    </div>

    </div>

</div>
