<!-- Navbar -->
<app-navbar></app-navbar>
<div class="w-full bg-white">
    <div class="px-10 py-10 gap-4">
        <div>
            <h1 class="section_title">Job postings</h1>
        </div>
        <div>
            <p class="section_text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="h-96 px-10 py-10">
    <div class="section_cards">
        <!-- card -->
        <div class="card">
            <a href="#">
                <h5 class="card_title">{{titleCS}}</h5>
            </a>
            <p class="card_text">{{descriptionCS}}</p>
            <button (click)="readCustomerService()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-greenLight focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 ease-in duration-300">
                Read more
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
        <!-- card -->
            <div class="card">
                <a href="#">
                    <h5 class="card_title">{{titleRe}}</h5>
                </a>
                <p class="card_text">{{descriptionRe}}</p>
                <button (click)="readReceptionst()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-greenLight focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Read more
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                </button>
            </div>
        <!-- card -->
        <div class="card">
            <a href="#">
                <h5 class="card_title">{{titleSM}}</h5>
            </a>
            <p class="card_text">{{descriptionSM}}</p>
            <button (click)="readSalesManager()" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:bg-greenLight focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Read more
                <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
        </div>
    </div>
    </div>
    <div class="bg-black h-96 py-10 px-20">
    <div class="flex justify-between items-center h-72 gap-5">
        <div>
            <h1 class="item-title">Excited to work with us?</h1>
        </div> 
        <div>
            <button class="flex items-center h-20 py-5 px-5 rounded-lg bg-greenLightDark" (click)="uploadResume()">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 mr-3">
                    <path class="text-white font-bold"stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5m-13.5-9L12 3m0 0l4.5 4.5M12 3v13.5" />
                  </svg>
                <span class="font-Karma text-2xl font-bold text-center text-white">Upload resume</span>
            </button>
        </div>
    </div>
</div>
<!-- Footer -->
<app-footer></app-footer>
