<div class="flex w-full p-10 gap-5 mx-auto">
<div class="flex flex-col">
    <div class="">
        <div class="font-Karma font-bold text-4xl">{{title}}</div>
        <p class="pb-5 font-Karma">
           {{text}}
        </p>
        <button type="button" (click)="onclick()" class="flex items-center justify-center bg-greenLight hover:bg-greenLight-hover rounded-md text-white px-10 py-2">
            <span height="24" class="flex items-center font-Karma font-medium text-center leading-5 pr-2">
                Get in touch
            </span>
            <svg height="13" xmlns= "http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                <path class="" stroke-linecap="round" stroke-linejoin="round" d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
            </svg> 
        </button>
    </div>
</div>

    <div class="shrink-0 grow-0 basis-2/5 flex-col">
        <img [src]="image_beach" alt="image beach" class="rounded-lg ">
    </div>
</div>
