<!-- Navbar -->
<app-navbar></app-navbar>
<div class="w-full bg-white">
<div class="flex justify-center py-10 px-10">
    <img [src]="imageMap" alt="map" class="rounded-lg drop-shadow-2xl">
</div>

<div class="pb-3">
    <h1 class="data-title">
        {{title}}
    </h1>
</div>

<div class="flex justify-center h-[500px] sm:h-[600px] md:h-[700px] overflow-hidden break-words py-10 px-10">

<div class="flex-col basis-1/5 text-ellipsis px-4">
    <p class="data-text">
        {{text}}
    </p>
</div>
<div class="item-form">
    <form [formGroup]="form" (ngSubmit)="getContactFormData(form.value)">

        <div class="pb-3">
            <input type="text" name="name" formControlName="name" class="item-input" placeholder="Name">
            <span *ngIf="name && name.invalid && name.touched" style="color:red">
                Please, Filling in your name.
            </span>
        </div>

        <div class="pb-3">
            <input type="text" name="surname" formControlName="surname" class="item-input" placeholder="Surname">
            <span *ngIf="surname && surname.invalid && surname.touched" style="color:red">
                Please, Filling in your surname.
            </span>
        </div>

        <div class="pb-3">
            <input type="email" name="email" formControlName="email" class="item-input" placeholder="Email" pattern="[a-zA-Z ]*">
            <span *ngIf="getError(form.get('email'))" style="color:red">
                {{getError(form.get('email'))}}
            </span>
        </div>
        <div class="pb-3">
            <textarea name="comment" class="item-input" formControlName="comment" placeholder="Comment...."></textarea>
            <span *ngIf="comment && comment.invalid && comment.touched" style="color:red">
                Maximum 20 charaters
            </span>
        </div>
        <div>
            <button type="submit" [disabled]="form.invalid" name="btn" id="btn" class="flex items-center justify-center bg-greenLightDark hover:bg-greenLight-hover rounded-md px-10 py-2 w-full">
                <span class="font-Karma font-extrabold text-black">Send</span>
            </button>
        </div>
    </form>
</div>
</div>
<!-- Footer -->
<app-footer></app-footer>


