<div class="cookie" *ngIf="cookieBox">
<div class="py-5">
    <div class="flex justify-center items-center">
        <img [src]="imageCookie">
        <h1 class="text-3xl font-Karma text-center text-black underline decoration-2 decoration-greenLight decoration-wavy">Cookies Constent</h1>
    </div>
    <div class="">
        <p class="mt-5 font-Karma text-black px-5 text-start leading-4">This website use cookies to ensure you get the best experience on our website.</p>
    </div>
</div>
    <div class="mt-5 text-center">
        <button class="h-12 w-36 px-4 bg-greenLight text-black hover:bg-black hover:text-greenLight mr-2 rounded-full" (click)="allow()" >Allow Cookies</button>
        <button class="h-12 w-36 px-4 bg-greenLight text-black hover:bg-black hover:text-greenLight rounded-full" (click)="decline()">Decline</button>
    </div>
</div>

