<div class="cookie" *ngIf="cookieBox">
    <div class="textBox">
        <h1 class="text-3xl font-Karma text-center">Cookies Constent</h1>
        <p class="mt-5 font-Karma text-black px-5 leading-4">This website use cookies to ensure you get the best experience on our website.</p>
    </div>
    <div class="mt-5 text-center">
        <button class="h-12 w-36 px-4 bg-black text-greenLight hover:bg-black mr-2 rounded-full" (click)="allow()" >Allow Cookies</button>
        <button class="h-12 w-36 px-4 bg-black text-greenLight hover:bg-black rounded-full" (click)="decline()">Decline</button>
    </div>
</div>

